header {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-bottom: 3px solid #E7E7E7;
    flex-wrap: wrap;
    & > * {
        margin: 0 30px;
    }
    #title_content {
        display: table;
        .title_logo {
            width: 200px;
            display: table-cell;
            vertical-align: middle;
            padding: 15px 12px 0px 0px;
        }
        #title_descript {
            display: table-cell;
            vertical-align: middle;
            color: #000000;
            font-size: 15px;
            padding-top: 5px;
        }
    }
    #contents-bar {
        ul {
        display: flex;
        align-items: center;
        padding: 0;
            li {
                cursor: pointer;
                list-style: none;
                a {
                    display: block;
                    color: inherit;
                    font-size: 15px;
                    margin: 0 10px;
                    padding: 7px 15px;
                    border-radius: 8px;
                    box-shadow: 0 0 3px 0 #AFAFAF;
                    &.yellow {
                        color: #000000;
                        background-color: #EEDA29;   
                    }
                    &.blue {
                        color: #FFFFFF;
                        background-color: #238FDD;   
                    }
                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    
}