main {
  flex: 1;
}

.search_title {
  background-image: linear-gradient(90deg, #07B4E0 70%, #9AD36D 100%);
  color: #FFFFFF;
  font-weight: bold;
  padding: 13px 20px;
  margin-bottom: 10px;
}

.contents_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 1800px;
  margin: 10px auto 0 auto;
}
.contents_container .videos_container {
  display: table;
  background-color: #FFFFFF;
  border-bottom: 3px solid #E7E7E7;
  width: 590px;
  height: 300px;
  margin: 0 5px 10px 5px;
}
.contents_container .videos_container .leftside {
  display: table-cell;
  width: 160px;
  padding: 13px 10px 0 10px;
  margin: 0;
  vertical-align: top;
}
.contents_container .videos_container .leftside .poster {
  width: 200px;
  height: 300px;
  position: relative;
}
.contents_container .videos_container .leftside .poster img {
  max-width: 200px;
  max-height: 300px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0.5px solid #E7E7E7;
}
.contents_container .videos_container .leftside .favorite {
  display: table;
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 5px;
}
.contents_container .videos_container .leftside .favorite img {
  display: table-cell;
  vertical-align: middle;
  width: 25px;
}
.contents_container .videos_container .leftside .favorite .heading {
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
}
.contents_container .videos_container .description {
  position: relative;
  display: table-cell;
  padding: 8px 10px 8px 0;
  vertical-align: middle;
}
.contents_container .videos_container .description .name .type {
  font-size: 13px;
  color: #FFFFFF;
  display: inline-block;
  border-radius: 4px;
  padding: 3px 7px;
}
.contents_container .videos_container .description .name .type.movie {
  background-color: #F46262;
}
.contents_container .videos_container .description .name .type.tv {
  background-color: #628BF4;
}
.contents_container .videos_container .description .name .type.person {
  background-color: #4FB76C;
}
.contents_container .videos_container .description .name .type.sensitive {
  background-color: #F471E7;
}
.contents_container .videos_container .description .name:has(> .type.tv-sensitive) {
  border-radius: 5px;
  width: 118px;
  background: linear-gradient(to right, #628BF4 20%, #F471E7);
}
.contents_container .videos_container .description .name .title {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}
.contents_container .videos_container .description .name .ajax_name {
  font-size: 20px;
  font-weight: bold;
}
.contents_container .videos_container .description .details {
  font-size: 14px;
  margin-bottom: 3px;
}
.contents_container .videos_container .description .details .genre {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
}
.contents_container .videos_container .description .ajax_providers .heading {
  font-size: 10px;
  display: inline-block;
  background-color: #D4D9DC;
  border-radius: 4px;
  padding: 5px 7px;
}
.contents_container .videos_container .description .ajax_providers .icons {
  display: table-cell;
  width: 100%;
  height: 50px;
  font-size: 13px;
  vertical-align: middle;
}
.contents_container .videos_container .description .ajax_providers .icons img {
  display: inline-block;
  width: 40px;
  margin: 3px 3px 0 0px;
  box-sizing: border-box;
  border-radius: 6px;
  border: 0.5px solid #E7E7E7;
}
.contents_container .videos_container .description .ajax_providers .icons img:hover {
  opacity: 0.7;
}
.contents_container .videos_container .description .products .heading {
  font-size: 10px;
  display: inline-block;
  background-color: #D4D9DC;
  border-radius: 4px;
  padding: 5px 7px;
}
.contents_container .videos_container .description .products .videos {
  height: 190px;
}
.contents_container .videos_container .description .products .videos img {
  display: inline-block;
  max-width: 115px;
  max-height: 180px;
  margin-top: 8px;
  box-sizing: border-box;
  border: 0.5px solid #E7E7E7;
}
.contents_container .videos_container .description .products .videos img:hover {
  opacity: 0.7;
}/*# sourceMappingURL=main.css.map */