@media all and (min-width: 769px) {
  header #top-header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    height: 60px;
  }
  header #top-header #title_content {
    display: table;
    margin-left: 30px;
  }
  header #top-header #title_content .title_logo {
    width: 200px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 12px 0px 0px;
  }
  header #top-header #service_description {
    display: table-cell;
    vertical-align: middle;
  }
  header #gnavi__container {
    background-color: #409fb7;
    height: 50px;
  }
  header #gnavi__container ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 100%;
  }
  header #gnavi__container ul li {
    list-style: none;
    padding: 0 20px;
  }
  header #gnavi__container ul li a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
  }
  header #gnavi__container ul li a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  header #gnavi__container ul li a:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
@media all and (min-width: 321px) and (max-width: 768px) {
  header #top-header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    height: 60px;
  }
  header #top-header #title_content {
    display: table;
    margin: 0 auto;
  }
  header #top-header #title_content .title_logo {
    width: 200px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 12px 0px 0px;
  }
  header #top-header #service_description {
    display: none;
  }
  header #gnavi__container {
    background-color: #409fb7;
    height: 50px;
  }
  header #gnavi__container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    height: 100%;
  }
  header #gnavi__container ul li {
    list-style: none;
    padding: 0 20px;
  }
  header #gnavi__container ul li a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
  }
  header #gnavi__container ul li a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  header #gnavi__container ul li a:hover::after {
    opacity: 1;
    visibility: visible;
  }
}
@media all and (max-width: 320px) {
  header #top-header {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    height: 60px;
  }
  header #top-header #title_content {
    display: table;
    margin: 0 auto;
  }
  header #top-header #title_content .title_logo {
    width: 200px;
    display: table-cell;
    vertical-align: middle;
    padding: 10px 12px 0px 0px;
  }
  header #top-header #service_description {
    display: none;
  }
  header #gnavi__container {
    background-color: #409fb7;
    height: 50px;
  }
  header #gnavi__container ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 auto;
    height: 100%;
  }
  header #gnavi__container ul li {
    list-style: none;
    padding: 0 20px;
  }
  header #gnavi__container ul li a {
    position: relative;
    text-decoration: none;
    color: #FFFFFF;
  }
  header #gnavi__container ul li a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  header #gnavi__container ul li a:hover::after {
    opacity: 1;
    visibility: visible;
  }
}/*# sourceMappingURL=header.css.map */