// 共通
main {
    flex: 1;
    z-index: 1;
}
// パソコン用CSS
@media all and (min-width: 1024px) {
    main {
        display: block;
        background-color: #f5f5f5;
    }
    .smartphone_newline {
        display: flex;
    }
    .search_title {
        background-image: linear-gradient(90deg, #07B4E0 70%, #9AD36D 100%);
        color: #FFFFFF;
        font-weight: bold;
        padding: 0 20px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        .page-tree {
            max-width: 70%;
            a {
                color: #FFFFFF;
                opacity: 1;
            }
            a:hover {
                opacity: 0.7;
            }
        }
        .story_container {
            display: table;
            .story_header {
                font-weight: bold;
                padding-right: 8px;
            }
            & > * {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .contents_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 1800px;
        margin: 10px auto 0 auto;
        .videos_container {
            display: table;
            background-color: #FFFFFF;
            border-bottom: 3px solid #E7E7E7;
            width: 590px;
            height: 340px;
            margin: 0 5px 10px 5px;
            .leftside {
                display: table-cell;
                width: 160px;
                padding: 10px 10px 0 10px;
                margin: 0;
                vertical-align: top;
                .poster {
                    width: 200px;
                    height: 300px;
                    position: relative;
                    img {
                        max-width: 200px;
                        max-height: 300px;
                        position: absolute;
                        top:0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        box-sizing: border-box;
                        border-radius: 10px;
                        border: 0.5px solid #E7E7E7;
                    }
                }
                .favorite {
                    z-index: 10;
                    position: relative;
                    cursor: pointer;
                    display: table;
                    margin: 3px auto;
                    background-color: #269393;
                    border-collapse: separate;
                    border-spacing: 5px 0;
                    padding: 3px;
                    border-radius: 5px;
                    box-shadow: 0 0 3px 0 #afafaf;
                    max-height: 20px;
                    .heart-icon {
                        position: absolute;
                        top: 3px;
                        left: 5px;
                        vertical-align: middle;
                        fill: #E1E1E1;
                        height: 18px;
                        img {
                            height: 100%;
                        }
                    }
                    .heading {
                        margin-left: 20px;
                        vertical-align: middle;
                        color: #E1E1E1;
                        font-size: 13px;
                    }
                    &:active {
                        opacity: 0.6;
                    }
                }
            }
            .description {
                visibility: hidden;
                display: table-cell;
                padding: 8px 10px 0 0;
                vertical-align: top;
                overflow: hidden;
                position: relative;  
                .type {
                    font-size: 13px;
                    color: #FFFFFF;
                    display: inline-block;
                    border-radius: 4px;
                    padding: 3px 7px;
                    &.movie {
                        background-color: #F46262;
                    }
                    &.tv {
                        background-color: #628BF4;
                    }
                    &.person {
                        background-color: #4FB76C;
                    }
                    &.sensitive {
                        background-color: #F471E7;
                    }
                    &.tv-sensitive {
                        background: linear-gradient(to right, #628BF4 20%, #F471E7);   
                    }
                }
                .pc-overflow {
                    .name-block {
                        width: 360px;
                        margin-bottom: 5px;
                        .name {
                            .title {
                                font-size: 20px;
                                font-weight: bold;
                                white-space: nowrap;
                                max-width: 360px;
                                overflow: hidden;
                            }
                            .ajax_name {
                                height: 30px;
                                font-size: 20px;
                                font-weight: bold;
                                white-space: nowrap;
                                max-width: 360px;
                                overflow: hidden;
                            }
                        }
                        .details {
                            font-size: 14px;
                            margin-bottom: 3px;
                            .genre {
                                max-width: 360px;
                                overflow: hidden;
                                white-space: nowrap;
                            }
                        }
                    }
                    .ajax_providers {
                        display: none;
                        height: 230px;
                        position: relative;
                        z-index: 3;
                        .heading {
                            font-size: 10px;
                            display: inline-block;
                            background-color: #D4D9DC;
                            border-radius: 4px;
                            padding: 5px 7px;
                        }
                        .icons {
                            display: table-cell;
                            width: 100%;
                            height: 50px;
                            font-size: 13px;
                            vertical-align: middle;
                            abbr {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                margin: 3px 3px 0 0px;
                                img {
                                    width: 40px;
                                    height: 40px;
                                    box-sizing: border-box;
                                    border-radius: 6px;
                                    border: 0.5px solid #E7E7E7;
                                    &:hover {
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }
                    .overview {
                        display: none;
                        .heading {
                            font-size: 10px;
                            display: inline-block;
                            background-color: #D4D9DC;
                            border-radius: 4px;
                            padding: 5px 7px;
                        }
                        .text {
                            max-height: 190px;
                            overflow: hidden;
                            margin: 3px 0;
                            font-size: 13px;
                            width: 360px;
                        }
                    }
                    .products {
                        .heading {
                            font-size: 10px;
                            display: inline-block;
                            background-color: #D4D9DC;
                            border-radius: 4px;
                            padding: 5px 7px;
                        }
                        .videos {
                            height: 190px;
                            abbr {
                                display: inline-block;
                                max-width: 115px;
                                max-height: 180px;
                                img {
                                    width: 100%;
                                    height: 100%;
                                    margin-top: 8px;
                                    box-sizing: border-box;
                                    border: 0.5px solid #E7E7E7;
                                    &:hover {
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }
                }
                .bottom_white {
                    z-index: 2;
                    position: absolute;
                    width: 100%;
                    height: 20%;
                    bottom: 0;
                    background-image: linear-gradient(180deg, transparent 0%, #FFFFFF 85%);
                }
                .right_white {
                    z-index: 2;
                    position: absolute;
                    width: 20%;
                    height: 35%;
                    top: 0;
                    right: 0;
                    background-image: linear-gradient(90deg, transparent 0%, #FFFFFF 80%);
                }
            }
        }
        .pv_container {
            display: table;
            width: 590px;
            height: 343px;
            margin: 0 5px 10px 5px;
            iframe {
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                border-radius: 10px;
            }
        }
        .text_container {
            display: table;
            width: 590px;
            margin: 0 5px 10px 5px;
            .text_title {
                padding: 5px 10px 0 10px;
                font-size: 24px;
                margin: 5px 0 5px 0;
                font-weight: bold;
            }
            p {
                padding: 0px 5px;
                margin: 16px 0 0 0;
            }
            .reference-link {
                margin: 5px 3px 0 3px;
                color:#afafaf;
                font-size: 13px;
                a {
                    color:#afafaf;
                    text-decoration: underline;
                    opacity: 1;
                }
                a:hover {
                    opacity: 0.6;
                }
            }
        }
        .image_container {
            position: relative;
            overflow: hidden;
            width: 590px;
            height: 340px;
            margin: 1.5px 5px 11.5px 5px;
            border-radius: 10px;
            img {
                width: 100%;
                height: 100%;
            }
            .caption {
                display: table;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 20%;
                background-color: #000000b2;
                transform: translateY(100%);
                transition: transform 0.3s;
                .caption-contents {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    .caption-left-right {
                        display: inline-block;
                        .caption-text {
                            color: #FFFFFF;
                            text-align: left;
                        }
                        .reference-link {
                            color:#afafaf;
                            font-size: 13px;
                            text-align: left;
                            a {
                                color:#afafaf;
                                text-decoration: underline;
                                opacity: 1;
                            }
                            a:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                }   
            }
            &:hover > .caption {
                transform: translateY(0);
            }
        }
    }
}
// タブレット用CSS
@media all and (min-width: 426px) and (max-width: 1023.5px) {
    main {
        background-color: #FFFFFF;
    }
    .search_title {
        background-image: linear-gradient(90deg, #07B4E0 40%, #9AD36D 100%);
        color: #FFFFFF;
        font-weight: bold;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        .page-tree {
            max-width: 80%;
            a {
                color: #FFFFFF;
                opacity: 1;
            }
            a:hover {
                opacity: 0.7;
            }
        }
        .story_container {
            display: table;
            .story_header {
                display: none;
            }
            & > *:not(.story_header) {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .contents_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 1800px;
        margin: 10px auto 0 auto;
        align-items: flex-start;
        .videos_container {
            display: table;
            background-color: #FFFFFF;
            width: 320px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            .leftside {
                display: table-cell;
                width: 120px;
                padding: 2px 5px 0 8px;
                margin: 0;
                vertical-align: top;
                position: relative;
                .poster {
                    width: 120px;
                    height: 170px;
                    position: relative;
                    img {
                        max-width: 120px;
                        max-height: 170px;
                        position: absolute;
                        top:0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        box-sizing: border-box;
                        border-radius: 10px;
                        border: 0.5px solid #E7E7E7;
                    }
                }
                .favorite {
                    z-index: 10;
                    position: relative;
                    cursor: pointer;
                    display: table;
                    margin: 0 auto;
                    background-color: #269393;
                    border-collapse: separate;
                    border-spacing: 5px 0;
                    margin-right: -110px;
                    margin-top: -26px;
                    padding: 3px;
                    border-radius: 5px;
                    box-shadow: 0 0 3px 0 #afafaf;
                    max-height: 20px;
                    .heart-icon {
                        position: absolute;
                        top: 3px;
                        left: 5px;
                        vertical-align: middle;
                        fill: #E1E1E1;
                        height: 18px;
                        img {
                            height: 100%;
                        }
                    }
                    .heading {
                        margin-left: 20px;
                        vertical-align: middle;
                        color: #E1E1E1;
                        font-size: 13px;
                    }
                    &:active {
                        opacity: 0.6;
                    }
                }
            }
            .description {
                visibility: hidden;
                display: table-cell;
                padding: 0;
                vertical-align: middle;
                position: relative;
                .type {
                    font-size: 13px;
                    color: #FFFFFF;
                    display: inline-block;
                    border-radius: 4px;
                    padding: 3px 7px;
                    &.movie {
                        background-color: #F46262;
                    }
                    &.tv {
                        background-color: #628BF4;
                    }
                    &.person {
                        background-color: #4FB76C;
                    }
                    &.sensitive {
                        background-color: #F471E7;
                    }
                    &.tv-sensitive {
                        background: linear-gradient(to right, #628BF4 20%, #F471E7);   
                    }
                }
                .name-block {
                    height: 120px;
                    padding-right: 5px;
                    overflow-y: scroll;
                    position: relative;
                    .name {
                        top: 0;
                        left: 0;
                        
                        .slide-box {
                            position: relative;
                            width: 100%;
                            height: 30px;
                            overflow: hidden;
                        }
                        .title {
                            font-size: 17px;
                            font-weight: bold;
                        }
                        .ajax_name {
                            font-size: 17px;
                            font-weight: bold;
                        }
                    }
                    .details {
                        font-size: 14px;
                        .slide-box {
                            position: relative;
                            height: 21px;
                            overflow: hidden;
                        }
                        .genre {
                            white-space: wrap;
                        }
                    }
                }
                .ajax_providers {
                    display: none;
                    position: relative;
                    margin-top: 30px;
                    margin-left: -120px;
                    max-width: 95vw;
                    overflow: hidden;
                    height: 135px;
                    &:before {
                        content: "";
                        display: block;
                    }
                    .subscription, .rental, .buy {
                        display: flex;
                        .spinner {
                            margin-top: 3px;
                        }
                        .heading {
                            font-size: 10px;
                            display: inline;
                            color: #FFFFFF;
                            background-color: #a1a1a1;
                            border-radius: 4px;
                            width: 50px;
                            text-align: center;
                            margin: auto 5px auto 0;
                            padding: 2px;
                        }
                        .icons {
                            max-width: 100%;
                            display: flex;
                            flex-wrap: nowrap;
                            height: 40px;
                            font-size: 13px;
                            padding: 2px 0;
                            vertical-align: middle;
                            abbr {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                margin: 3px 3px 0 0px;
                                img {
                                    width: 40px;
                                    height: 40px;
                                    box-sizing: border-box;
                                    border-radius: 6px;
                                    border: 0.5px solid #E7E7E7;
                                    &:hover {
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }
                }
                .overview {
                    display: none;
                    position: relative;
                    margin-top: 30px;
                    margin-left: -120px;
                    .heading {
                        width: 48px;
                        font-size: 10px;
                        display: inline-block;
                        background-color: #a1a1a1;
                        border-radius: 4px;
                        padding: 2px 4px;
                        text-align: center;
                        color: #FFFFFF;
                        margin-bottom: 5px;
                    }
                    .text {
                        font-size: 13px;
                        max-height: 130px;
                        overflow-y: scroll;
                    }
                }
                .products {
                    position: relative;
                    margin-top: 30px;
                    margin-left: -120px;
                    .heading {
                        min-width: 48px;
                        font-size: 10px;
                        display: inline-block;
                        color: #FFFFFF;
                        background-color: #a1a1a1;
                        border-radius: 4px;
                        padding: 2px 4px;
                        text-align: center;
                        margin-bottom: 5px;
                    }
                    .videos {
                        .videos_viewer {
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: flex-end;
                            abbr {
                                display: inline-block;
                                max-width: 115px;
                                max-height: 180px;
                                margin: 0 3px;
                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                    box-sizing: border-box;
                                    border: 0.5px solid #E7E7E7;
                                    &:hover {
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pv_container {
            display: table;
            width: 320px;
            height: 180px;
            margin-bottom: 10px;
            padding: 5px;
            iframe {
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                border-radius: 10px;
            }
        }
        .text_container {
            display: table;
            width: 320px;
            margin-bottom: 10px;
            .text_title {
                padding: 5px 10px 0 10px;
                font-size: 24px;
                margin: 5px;
                font-weight: bold;
            }
            p {
                padding: 0px 8px;
                margin: 16px 0 0 0;
            }
            .reference-link {
                margin: 5px 3px 0 3px;
                color:#afafaf;
                font-size: 13px;
                a {
                    color:#afafaf;
                    text-decoration: underline;
                    opacity: 1;
                }
                a:hover {
                    opacity: 0.6;
                }
            }
        }
        .image_container {
            position: relative;
            overflow: hidden;
            width: 320px;
            height: 180px;
            border-radius: 10px;
            margin: 5px;
            img {
                width: 100%;
                height: 100%;
            }
            .caption {
                display: table;
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 20%;
                background-color: #000000b2;
                transform: translateY(100%);
                transition: transform 0.3s;
                .caption-contents {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    padding: 0 3px;
                    .caption-left-right {
                        display: inline-block;
                        .caption-text {
                            color: #FFFFFF;
                            text-align: left;
                        }
                        .reference-link {
                            color:#afafaf;
                            font-size: 13px;
                            text-align: left;
                            a {
                                color:#afafaf;
                                text-decoration: underline;
                                opacity: 1;
                            }
                            a:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                }   
            }
            &:hover > .caption {
                transform: translateY(0);
            }
        }
    }
}
// スマホ用CSS
@media all and (max-width: 426px) {
    main {
        background-color: #FFFFFF;
    }
    .search_title {
        background-image: linear-gradient(90deg, #07B4E0 40%, #9AD36D 100%);
        color: #FFFFFF;
        font-weight: bold;
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0;
        .page-tree {
            max-width: 80%;
            a {
                color: #FFFFFF;
                opacity: 1;
            }
            a:hover {
                opacity: 0.7;
            }
        }
        .story_container {
            display: table;
            .story_header {
                display: none;
            }
            & > *:not(.story_header) {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
    .contents_container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        max-width: 1800px;
        margin: 10px auto 0 auto;
        align-items: flex-start;
        .videos_container {
            display: table;
            background-color: #FFFFFF;
            width: 95%;
            padding-bottom: 10px;
            margin-bottom: 10px;
            .leftside {
                display: table-cell;
                width: 120px;
                padding: 2px 5px 0 0;
                margin: 0;
                vertical-align: top;
                position: relative;
                .poster {
                    width: 120px;
                    height: 170px;
                    position: relative;
                    img {
                        max-width: 120px;
                        max-height: 170px;
                        position: absolute;
                        top:0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        box-sizing: border-box;
                        border-radius: 10px;
                        border: 0.5px solid #E7E7E7;
                    }
                }
                .favorite {
                    z-index: 10;
                    position: relative;
                    cursor: pointer;
                    display: table;
                    margin: 0 auto;
                    background-color: #269393;
                    border-collapse: separate;
                    border-spacing: 5px 0;
                    margin-right: -110px;
                    margin-top: -26px;
                    padding: 3px;
                    border-radius: 5px;
                    box-shadow: 0 0 3px 0 #afafaf;
                    max-height: 20px;
                    .heart-icon {
                        position: absolute;
                        top: 3px;
                        left: 5px;
                        vertical-align: middle;
                        fill: #E1E1E1;
                        height: 18px;
                        img {
                            height: 100%;
                        }
                    }
                    .heading {
                        margin-left: 20px;
                        vertical-align: middle;
                        color: #E1E1E1;
                        font-size: 13px;
                    }
                    &:active {
                        opacity: 0.6;
                    }
                }
            }
            .description {
                visibility: hidden;
                display: table-cell;
                padding: 0;
                vertical-align: top;
                position: relative;
                .type {
                    font-size: 13px;
                    color: #FFFFFF;
                    display: inline-block;
                    border-radius: 4px;
                    padding: 3px 7px;
                    &.movie {
                        background-color: #F46262;
                    }
                    &.tv {
                        background-color: #628BF4;
                    }
                    &.person {
                        background-color: #4FB76C;
                    }
                    &.sensitive {
                        background-color: #F471E7;
                    }
                    &.tv-sensitive {
                        background: linear-gradient(to right, #628BF4 20%, #F471E7);   
                    }
                }
                .name-block {
                    height: 120px;
                    padding-right: 5px;
                    overflow-y: scroll;
                    position: relative;
                    .name {
                        top: 0;
                        left: 0;
                        .slide-box {
                            position: relative;
                            width: 100%;
                            height: 30px;
                            overflow: hidden;
                        }
                        .title {
                            font-size: 17px;
                            font-weight: bold;
                        }
                        .ajax_name {
                            font-size: 17px;
                            font-weight: bold;
                        }
                    }
                    .details {
                        font-size: 14px;
                        .slide-box {
                            position: relative;
                            height: 21px;
                            overflow: hidden;
                        }
                        .genre {
                            white-space: wrap;
                        }
                    }
                }
                .ajax_providers {
                    display: none;
                    position: relative;
                    margin-top: 30px;
                    margin-left: -120px;
                    max-width: 95vw;
                    overflow: hidden;
                    height: 135px;
                    &:before {
                        content: "";
                        display: block;
                    }
                    .subscription, .rental, .buy {
                        display: flex;
                        .spinner {
                            margin-top: 3px;
                        }
                        .heading {
                            font-size: 10px;
                            display: inline;
                            color: #FFFFFF;
                            background-color: #a1a1a1;
                            border-radius: 4px;
                            width: 50px;
                            text-align: center;
                            margin: auto 5px auto 0;
                            padding: 2px;
                        }
                        .icons {
                            max-width: 100%;
                            display: flex;
                            flex-wrap: nowrap;
                            height: 40px;
                            font-size: 13px;
                            padding: 2px 0;
                            vertical-align: middle;
                            abbr {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                margin: 3px 3px 0 0px;
                                img {
                                    width: 40px;
                                    height: 40px;
                                    box-sizing: border-box;
                                    border-radius: 6px;
                                    border: 0.5px solid #E7E7E7;
                                    &:hover {
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }
                }
                .overview {
                    display: none;
                    position: relative;
                    margin-top: 30px;
                    margin-left: -120px;
                    .heading {
                        width: 48px;
                        font-size: 10px;
                        display: inline-block;
                        background-color: #a1a1a1;
                        border-radius: 4px;
                        padding: 2px 4px;
                        text-align: center;
                        color: #FFFFFF;
                        margin-bottom: 5px;
                    }
                    .text {
                        font-size: 13px;
                        max-height: 130px;
                        overflow-y: scroll;
                    }
                }
                .products {
                    position: relative;
                    margin-top: 30px;
                    margin-left: -120px;
                    width: 100%;
                    .heading {
                        min-width: 48px;
                        font-size: 10px;
                        display: inline-block;
                        color: #FFFFFF;
                        background-color: #a1a1a1;
                        border-radius: 4px;
                        padding: 2px 4px;
                        text-align: center;
                        margin-bottom: 5px;
                    }
                    .videos {
                        width: 95vw;
                        .videos_viewer {
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: flex-end;
                            abbr {
                                display: inline-block;
                                max-width: 115px;
                                max-height: 180px;
                                margin: 0 3px;
                                img {
                                    max-width: 100%;
                                    max-height: 100%;
                                    box-sizing: border-box;
                                    border: 0.5px solid #E7E7E7;
                                    &:hover {
                                        opacity: 0.7;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .pv_container {
            display: table;
            width: 95%;
            height: calc(95vw * 9 / 16);
            margin-bottom: 10px;
            padding: 5px;
            iframe {
                display: table-cell;
                width: 100%;
                height: 100%;
                vertical-align: middle;
                border-radius: 10px;
            }
        }
        .text_container {
            display: table;
            width: 95%;
            margin-bottom: 10px;
            .text_title {
                padding: 5px 10px 0 10px;
                font-size: 24px;
                margin: 5px;
                font-weight: bold;
            }
            p {
                padding: 0px 8px;
                margin: 16px 0 0 0;
            }
            .reference-link {
                margin: 5px 3px 0 3px;
                color:#afafaf;
                font-size: 13px;
                a {
                    color:#afafaf;
                    text-decoration: underline;
                    opacity: 1;
                }
                a:hover {
                    opacity: 0.6;
                }
            }
        }
        .image_container {
            overflow: hidden;
            width: 95%;
            margin: 5px;
            img {
                width: 100%;
                height: 100%;
                border-radius: 10px;
            }
            .caption {
                display: table;
                bottom: 0;
                width: 100%;
                height: 20%;
                .caption-contents {
                    display: table-cell;
                    vertical-align: middle;
                    text-align: center;
                    padding: 0 3px;
                    .caption-left-right {
                        display: inline-block;
                        .caption-text {
                            color: #000000;
                            text-align: left;
                        }
                        .reference-link {
                            color:#afafaf;
                            font-size: 13px;
                            text-align: left;
                            a {
                                color:#afafaf;
                                text-decoration: underline;
                                opacity: 1;
                            }
                            a:hover {
                                opacity: 0.6;
                            }
                        }
                    }
                }   
            }
            &:hover > .caption {
                transform: translateY(0);
            }
        }
    }
}