// パソコン用・タブレット用CSS
@media all and (min-width: 500px) {
    .page_container {
        background-color: #FFFFFF;
        max-width: 1790px;
        width: 100%;
        margin: 0 auto;
        .page_line {
            display: table;
            margin: 0 auto;
            padding: 10px 0;
            border-collapse: separate;
            border-spacing: 3px 0;
            .pages, .dots, .current_page {
                display: table-cell;
                vertical-align: middle;
                width: 50px;
                height: 50px;
                button {
                    position: relative;
                    cursor: pointer;
                    border: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    font-size: 12px;
                    background-color: #E9E9E9;
                    &:hover {
                        background-color: #eae793;
                    }
                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        -webkit-transform: translateY(-50%) translateX(-50%);
                        margin: auto;
                        color: #000000;
                    }
                }
            }
            .current_page {
                text-align: center;
                color: #000000;
                font-weight: bold;
                font-size: 14px;
                border-radius: 50%;
                background-color: #EEDA29;
            }
            .dots {
                text-align: center;
                color: #000000;
                font-size: 14px;
                border-radius: 50%;
            }
        }
    }
}
// スマホ用CSS
@media all and (max-width: 500px) {
    .page_container {
        background-color: #FFFFFF;
        max-width: 1790px;
        width: 100%;
        margin: 0 auto;
        .page_line {
            display: table;
            margin: 0 auto;
            padding: 10px 0;
            border-collapse: separate;
            border-spacing: 3px 0;
            .pages, .dots, .current_page {
                display: table-cell;
                vertical-align: middle;
                width: 10vw;
                height: 10vw;
                button {
                    position: relative;
                    cursor: pointer;
                    border: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    font-size: 12px;
                    background-color: #E9E9E9;
                    &:hover {
                        background-color: #eae793;
                    }
                    span {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        -webkit-transform: translateY(-50%) translateX(-50%);
                        margin: auto;
                        color: #000000;
                    }
                }
            }
            .current_page {
                text-align: center;
                color: #000000;
                font-weight: bold;
                font-size: 14px;
                border-radius: 50%;
                background-color: #EEDA29;
            }
            .dots {
                text-align: center;
                color: #000000;
                font-size: 14px;
                border-radius: 50%;
            }
        }
    }
}