<footer id="foot_search">
    <div class="title_logo">
        <a href="{{ url_for('index') }}">
            <img  src ="/static/images/provideo_logo.svg" alt="ProVideo" border="0" />
        </a>
    </div>
</footer>
<footer id="footer">
    <div id="api_caution">
        <div id="TMDB">
            <a href="https://www.themoviedb.org/" target="_blank">
                <img  src ="/static/images/TMDB.svg" alt="The Movie Database"/>
            </a>
        </div>
        <div id="JustWatch">
            <a href="https://www.justwatch.com/" target="_blank">
                <img  src ="/static/images/JustWatch.png" alt="JustWatch"/>
            </a>
        </div>
        <div id="text">のAPIを使用</div>
    </div>
    <div id="site_introduction">
        ProVideoは、オンデマンド配信情報の横断検索に特化したサイトです。<br/>
        ネットで見たい映画・テレビ番組・配信オリジナル作品を気軽に調べるときに便利です。
    </div>
    <nav id="foot_navigation">
        <ul>
            <li><a href="/">探索</a></li>
            <li><a href="/test1">マイページ</a></li>
            <li><a href="/test4">管理人情報</a></li>
            <li><a href="/test3">お問い合わせ</a></li>
        </ul>
    </nav>
    <!--
    <div id="copyright">Copyright © 2022 @eggpanpan</div>
    -->
</footer>