<header>
<div>
<div id="title_content">
    <div class="title_logo">
        <a href="{{ url_for('index') }}">
            <img  src ="/static/images/provideo_logo.svg" alt="ProVideo"/>
        </a>
    </div>
    <div id="title_descript">
        オンデマンド配信 探索ツール
    </div>
</div>
</div>
<nav id="contents-bar">
    <ul>
    <li><a class="contents-bar-link yellow" href="/">トップ</a></li>
    <li><a class="contents-bar-link yellow" href="/trend">トレンド</a></li>

    <li><a class="contents-bar-link yellow" href="/mypage">マイページ</a></li>
    <li><a class="contents-bar-link blue" href="/login">ログイン</a></li>
    </ul>
</nav>
</header>