{% extends "layout.html" %}

{% block title %}
ホーム
{% endblock %}

{% block content %}

<!--ナビゲーションバー-->
{% with data = data %}
{% include "navbar.html" %}
{% endwith %}

<!--検索ボックス-->
{% with data = data %}
{% include "searchform.html" %}
{% endwith %}

<!--コンテンツ部分-->
<main>
<div class="search_title">ProVideoで 今話題の映画</div>

<!--映画情報-->
<div class="contents_container">
    {% with data = data['results'] %}
    {% include "contents.html" %}
    {% endwith %}
</div>

<div class="search_title">ProVideoで 今話題のテレビ・配信番組</div>

<!--テレビ・配信情報-->
<div class="contents_container">
    {% with data = data2['results'] %}
    {% include "contents.html" %}
    {% endwith %}
</div>
</main>

{% endblock %}