{% extends "layout.html" %}

{% block title %}
ホーム
{% endblock %}

{% block content %}

<!--ナビゲーションバー-->
{% with data = data %}
{% include "navbar.html" %}
{% endwith %}

<!--検索ボックス-->
{% with data = data %}
{% include "searchform.html" %}
{% endwith %}

<!--コンテンツ部分-->
<main>
<div id="search_title">ProVideoで 今話題の映画</div>

<!--映画情報-->
<div id="contents_container">
    {% for item in data['results'] %}
    <div class="videos_container">
        <div class="leftside">
            <div class="poster">
                <img src="https://www.themoviedb.org/t/p/w500{{item['poster_path']}}" alt="test" oncontextmenu="return false;"/>
            </div>
            <div class="favorite">
                <img class="unliked" src="../static/images/heart_black.png" alt="お気に入り" />
                <div class="heading">お気に入り</div>
            </div>
        </div>
        <div class="description">
            <div class="name">
                <div class="type">{{item['media_type']}}</div>
                <div class="title">{{item['title']}}</div>
            </div>
            <div class="details">{{item['openday']}}<br/>{{item['genre']}}</div>
            <div class="ajax_providers" value="unloaded,{{item['id']}},{{item['data_type']}}">
                <div class="subscription">
                    <div class="heading">サブスクリプション</div>
                    <div class="icons"></div>
                </div>
                <div class="rental">
                    <div class="heading">レンタル可能</div>
                    <div class="icons"></div>
                </div>
                <div class="buy">
                    <div class="heading">購入可能</div>
                    <div class="icons"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div id="search_title">ProVideoで 今話題のテレビ・配信番組</div>

<!--テレビ・配信情報-->
<div id="contents_container">
    {% for item in data2['results'] %}
    <div class="videos_container">
        <div class="leftside">
            <div class="poster">
                <img src="https://www.themoviedb.org/t/p/w500{{item['poster_path']}}" alt="test" oncontextmenu="return false;"/>
            </div>
            <div class="favorite">
                <img class="unliked" src="../static/images/heart_black.png" alt="お気に入り" />
                <div class="heading">お気に入り</div>
            </div>
        </div>
        <div class="description">
            <div class="name">
                <div class="type">{{item['media_type']}}</div>
                <div class="title">{{item['title']}}</div>
            </div>
            <div class="details">{{item['openday']}}<br/>{{item['genre']}}</div>
            <div class="ajax_providers" value="unloaded,{{item['id']}},{{item['data_type']}}">
                <div class="subscription">
                    <div class="heading">サブスクリプション</div>
                    <div class="icons"></div>
                </div>
                <div class="rental">
                    <div class="heading">レンタル可能</div>
                    <div class="icons"></div>
                </div>
                <div class="buy">
                    <div class="heading">購入可能</div>
                    <div class="icons"></div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<p>{{data2}}</p>

</main>

{% endblock %}