<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <!-- cssを読み込み -->
        <link href="/static/SASS/config.css" rel="stylesheet">
        <!-- jQueryを読み込み -->
        <script crossorigin="anonymous" src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="></script>
        <script src="/static/JavaScript/jquery.inview.min.js"></script>
        <!-- アイコンを読み込み -->
        <link href="/static/images/provideo_icon.svg" rel="icon">
        <!--タイトル部分-->
        <title>{% block title %}{% endblock %} | ProVideo</title>
    </head>
    <body>
        <!--ヘッダー-->
        {% include "header.html" %}
        <!--コンテンツ部分-->
        {% block content %}
        {% endblock %}
        <!--フッター部分-->
        {% include "footer.html" %}
        <!-- JavaScriptを読み込み -->
        <script type="text/javascript" src="../static/JavaScript/styles.js"></script>
        <script type="text/javascript" src="../static/JavaScript/loaded.js"></script>
        <script type="text/javascript" src="../static/JavaScript/ajax.js"></script>
    </body>
</html>