{% extends "layout.html" %}

{% block title %}
お気に入り
{% endblock %}

{% block content %}

<!--検索ボックス-->
{% with data = data %}
{% include "searchform.html" %}
{% endwith %}

<!-- コンテンツ部分 -->
<main>

    <!-- お気に入りコンテンツ -->
    <div class="search_title">
        <div class="smartphone_newline">
            <div>お気に入りの{{data['site_data']['print_type']}}&nbsp;</div>
            <div>(追加順 全○○件)</div>
        </div>
        <div class="story_container">
            <div class="story_header">あらすじモード</div>
            <label class="switch_label" value="overview">
                <span class="switch_content"></span>
                <span class="switch_circle"></span>
            </label>
        </div>
    </div>

    {% with tab_data = data['site_data']['tab_data'] %}
    {% include "tab.html" %}
    {% endwith %}

    <div class="contents_container">
        {% with data = data['results'] %}
        {% include "contents.html" %}
        {% endwith %}
    </div>
</main>

{% endblock %}