<footer id="foot_search">
    <div class="title_logo">
        <a href="{{ url_for('index') }}">
            <img  src ="/static/images/provideo_logo.svg" alt="ProVideo" border="0" />
        </a>
    </div>
    <!--フッターの検索ボックス-->
    <form class="search_form" action="{{ url_for('search') }}" method="GET">
        <!--ページ番号-->
        <input type="hidden" name="page" value="1">
        <!--キーワード-->
        <div class="search_container"><input id="box" name="keywords" type="text" placeholder="キーワードから探す" value="{{ data['keywords'] }}" required/></div>
        <div class="search_option_container">
            <div class="search_option">
            <input id="button" type="submit" value="検索" />
            </div>
        </div>
    </form>
</footer>
<footer id="footer">
    <div id="api_caution">
        <div id="TMDB">
            <a href="https://www.themoviedb.org/" target="_blank">
                <img  src ="/static/images/TMDB.svg" alt="The Movie Database"/>
            </a>
        </div>
        <div id="JustWatch">
            <a href="https://www.justwatch.com/" target="_blank">
                <img  src ="/static/images/JustWatch.png" alt="JustWatch"/>
            </a>
        </div>
        <div id="text">のAPIを使用</div>
    </div>
    <div id="site_introduction">
        ProVideoは、オンデマンド配信情報の横断検索に特化したサイトです。<br/>
        ネットで見たい映画・テレビ番組・配信オリジナル作品を気軽に調べるときに便利です。
    </div>
    <nav id="foot_navigation">
        <ul>
            <li><a href="/">トップ</a></li>
            <li><a href="/trend">トレンド</a></li>
            <li><a href="/favorite">お気に入り</a></li>
        </ul>
    </nav>
    <div id="copyright">© 2022 <a href="https://twitter.com/eggpanpan">@eggpanpan</a></div>
</footer>