<header>
<div id="top-header">
    <div id="title_content">
        <div class="title_logo">
            <a href="/">
                <img src="/static/images/provideo_logo.svg" alt="ProVideo"/>
            </a>
        </div>
        <div id="service_description">オンデマンド配信検索サイト</div>
    </div>
</div>
<nav id="gnavi__container">
    <ul id="gnavi_lists">
    <li class="gnavi__list"><a href="/">トップ</a></li>
    <li class="gnavi__list"><a href="/trend">トレンド</a></li>
    <li class="gnavi__list"><a href="/favorite">お気に入り</a></li>
    </ul>
</nav>
</header>