{% extends "layout.html" %}

{% block title %}
    ログイン
{% endblock %}

{% block main %}
<main class="container-fluid py-5">
    <form action="/login" method="post">
        <div class="white_cover mb-3 status">
        <p>ログイン</p>
            <input autocomplete="off" autofocus class="form-control mx-auto my-1 w-auto" id="username" name="username" placeholder="ユーザーID" type="text">
            <input class="form-control mx-auto my-1 w-auto" id="password" name="password" placeholder="パスワード" type="password">
            <button class="btn btn-primary my-2" type="submit">ログイン</button>
        </div>
    </form>
</main>
{% endblock %}
