{% if keywords == None %}
    <form action="/mypage" method="get">
{% else %}
    <form action="/search" method="get">
    <input type="hidden" name="keywords" value="{{ keywords }}">
{% endif %}
<div class="page-links">
    <div class="description"><p>
    {% if keywords == None %}
        {{ username }}&nbsp;のマイページ 全&nbsp;{{ total_results }}&nbsp;作品 (登録順)
    {% else %}
        {{ keywords }}&nbsp;の検索結果 全&nbsp;{{ total_results }}&nbsp;作品 (関連順)
    {% endif %}
    </p></div>
    <div class="icon">
    {% set one = 1 %}
    {% set four = 4 %}
    {% if total_pages <= 7 %}
        {% for cnt in range( total_pages ) %}
            {% if page == cnt + 1 %}
            <span class="page-numbers current">{{ page }}</span>
            {% else %}
            <button class="page-numbers" name="page" value="{{ cnt + one }}">{{ cnt + one }}</button>
            {% endif %}
        {% endfor %}
    {% elif page <= 4 %}
        {% for cnt in range( 5 ) %}
            {% if page == cnt + 1 %}
            <span class="page-numbers current">{{ page }}</span>
            {% else %}
            <button class="page-numbers" name="page" value="{{ cnt + one }}">{{ cnt + one }}</button>
            {% endif %}
        {% endfor %}
        <span class="page-numbers dots">…</span>
        <button class="page-numbers first" name="page" value="{{ total_pages }}">{{ total_pages }}</button>
    {% elif page >= total_pages - 3 %}
        <button class="page-numbers first" name="page" value="1">1</button>
        <span class="page-numbers dots">…</span>
        {% for cnt in range( 5 ) %}
            {% if page == cnt + total_pages - 4 %}
            <span class="page-numbers current">{{ page }}</span>
            {% else %}
            <button class="page-numbers" name="page" value="{{ cnt + total_pages - four }}">{{ cnt + total_pages - four }}</button>
            {% endif %}
        {% endfor %}
    {% else %}
        <button class="page-numbers first" name="page" value="1">1</button>
        <span class="page-numbers dots">…</span>
        {% for cnt in range( 3 ) %}
            {% if cnt == 1 %}
            <span class="page-numbers current">{{ page }}</span>
            {% else %}
            <button class="page-numbers" name="page" value="{{ page + cnt - one }}">{{ page + cnt - one }}</button>
            {% endif %}
        {% endfor %}
        <span class="page-numbers dots">…</span>
        <button class="page-numbers first" name="page" value="{{ total_pages }}">{{ total_pages }}</button>
    {% endif %}
    </div>
</div>
</form>