{% extends "layout.html" %}

{% block title %}
    アカウント作成
{% endblock %}

{% block main %}
<main class="container-fluid py-5">
    <form action="/register" method="post">
        <div class="white_cover mb-3">
            <p class="status">アカウント作成</p>
            <input autocomplete="off" autofocus class="form-control mx-auto my-1 w-auto" id="username" name="username" placeholder="ユーザーID" type="text">
            <input class="form-control mx-auto my-1 w-auto" id="password" name="password" placeholder="パスワード(8文字以上)" type="password">
            <input class="form-control mx-auto my-1 w-auto" id="confirmation" name="confirmation" placeholder="パスワードの確認" type="password">
            <div style="text-align:center;"><br>
            <button class="btn btn-primary my-2" type="submit">新規登録</button>
            </div>
        </div>
    </form>
</main>
{% endblock %}