<div class="white_cover">
<div>
    <a class="title_logo" href="/">
        <p style="width:50%;display:block;padding:10px;margin:auto;"><img src ="/static/material_provideo_logo.svg" alt="ProVideo"/></p>
    </a>
</div>
<div><p class="text-center">
    気になる映画の配信・レンタル情報を簡単検索
</p></div>
<form action="/send" method="post">
    <div class="input-group" style="padding: 0% 20%;">
        <input autocomplete="off" type="text" class="form-control" id="search" name="search" placeholder="映画タイトル">
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">検索</button>
        </span>
    </div>
</form>
</div>