#search_title {
    background-image: linear-gradient(90deg, #07B4E0 70%, #9AD36D 100%);
    color: #FFFFFF;
    font-weight: bold;
    padding: 13px 20px;
}
#page_container {
    background-color: #FFFFFF;
    border-bottom: 3px solid #E7E7E7;
    width: 95%;
    margin: 10px auto;
}
#page_container > ul {
    display: table;
    margin: auto;
    padding: 10px 0;
    border-collapse: separate;
    border-spacing: 20px 0;
}
#page_container > ul > li {
    display: table-cell;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
#page_container > ul > #pages {
    background-color: #E9E9E9;
}
#page_container > ul > #current_page {
    background-color: #EEDA29;
}